<div class="container">
  <h3>Give mie a challenge </h3>
Challenge Time: <div class="row">
 <div class="col-xs-2"><input type="time" class="form-control" placeholder="enter time" required>

  </div>

</div> <button type="button" class="btn btn-success">Submit</button>
