<!DOCTYPE html>
<html lang="en">

<head>
    <title>Be-Mqabaqaba</title>
<link rel="shortcut icon" href="/images/exercise.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="/css/main.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <img src="/images/exercise.png" alt="breaks" style="width:52px;height:52px;">
                <a class="navbar-brand" href="/"> <span style="color:#00ff00">Be</span>-<span style="color:#00cc66">Mqabaqaba</span></a>

            </div>
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="/home">How does it work?</a></li>
                <li><a href="/">My Challenge</a></li> -->
            </ul>
        </div>
    </nav>

    {{{body}}}

</body>

</html>
