<form action="/user/1/challenge/add/success" method="post">

  <div class="container">

  <h3>What time would you like the challenge?</h3>

  <!-- <div class="col-xs-2"><input id="challenge-time" name="time" type="time" class="form-control" placeholder="enter your preferred challenge time" required></div> -->
<input type="text" name="time" id="" placeholder="enter time (e.g. 08:30, or 13:30 etc.)">
<!-- <input type="number" name="minute" id="" placeholder="enter minutes"> -->

  <h3>What would you like the focus of your challenge to be?</h3>

  <label>
  <input type="radio" name="type" class="type-icons" id="exercise-option" value="1"/>
  <img src="/images/exercise.png">
  Exercise
  </label>
  <label>
    <input type="radio" name="type" class="type-icons" id="social-option" value="2"/>
    <img src="/images/community.png">
    Social/Community
  </label>
  <label>
    <input type="radio" name="type" class="type-icons" id="both-option" value="3"/>
    <img src="/images/both.gif">
    Exercise and Social/Community
  </label>

  <button type="submit" class="btn btn-success">add my challenge!</button>
  </div>

</form>
