<div class="container">
  <h3>Please give me a challenge at:</h3>

<form action="/challenge/add" method="post">
<div class="col-xs-2"><input id="challenge-time" name="time" type="time" class="form-control" placeholder="enter your preferred challenge time" required></div>

<button type="button" class="btn btn-success">Submit</button>
</div>
</form>
