<h3>Welcome, {{user}} !</h3>

{{#no_challenges}}
<p>Unfortunately there are no challenges for your profile yet.</p>
<form action="/user/1/challenge/add" method="get">
<input type="submit" value="add a challenge!">
</form>
{{/no_challenges}}

{{#challenges}}
  <center>
  <table id="table" border="0">
      <tr>
          <td align="center" colspan="6"><div class="numbers" id="count2" style="padding: 10px; "></div></td>
      </tr>
      <tr id="spacer1">
          <td align="center" ><div class="title" ></div></td>
          <td align="center" ><div class="numbers" id="dday"></div></td>
          <td align="center" ><div class="numbers" id="dhour"></div></td>
          <td align="center" ><div class="numbers" id="dmin"></div></td>
          <td align="center" ><div class="numbers" id="dsec"></div></td>
          <td align="center" ><div class="title" ></div></td>
      </tr>
      <tr id="spacer2">
          <td align="center" ><div class="title" ></div></td>
          <td align="center" ><div class="title" id="days">Days</div></td>
          <td align="center" ><div class="title" id="hours">Hours</div></td>
          <td align="center" ><div class="title" id="minutes">Minutes</div></td>
          <td align="center" ><div class="title" id="seconds">Seconds</div></td>
          <td align="center" ><div class="title" ></div></td>
      </tr>
  </table>
  </center>

{{/challenges}}
