@font-face {
  font-family: 'raleway';
  src: url('/fonts/Raleway Thin.otf');
}
@font-face {
  font-family: 'abel';
  src: url('/fonts/Abel-Regular.ttf');
}

.numbers {
    padding: 0px;
    width: 50%;
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;   /* options are normal, bold, bolder, lighter */
    font-style: normal;  /* options are normal or italic */
    color: #FFFFFF;      /* change color using the hexadecimal color codes for HTML */
}
.title {        /* the styles below will affect the title under the numbers, i.e., “Days”, “Hours”, etc. */
    border-style: none;
    padding: 0px 0px 3px 0px;
    width: 80%;
    text-align: centre;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;   /* options are normal, bold, bolder, lighter */
    color: #FFFFFF;      /* change color using the hexadecimal color codes for HTML */
}
#table {
    width: 80%;
    height: 70px;
    border-style: ridge;
    border-width: 3px;
    border-color: #666666;      /* change color using the hexadecimal color codes for HTML */
    background-color: #222222;  /* change color using the hexadecimal color codes for HTML */
}

label > input {
  display: none;
}

label > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}
label > input:checked + img {
    border: 2px solid blue;
}

.type-icons {
  width: 50px;
  height: 50px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    /*color: initial;*/
}

.message {
  padding: 5px;
  background-color: orange;
  text-align:center;
  font-weight: bold;
  font-size: 1.2em;

}

#congrats-message {
  margin-top: 10px;
  background-color: #ffffb4;
}

#welcome-message {
  font-family: abel;
  padding-bottom: 10px;
}
#add_a_challenge{
  margin-left: 10%;
}
body{
  background-color:#ffff66;
}
.your-challenges {
  background: red;
  /*border-radius: 5px;*/
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 2px;
  font-family: abel;
  font-size: 1.5em;
  font-weight:900;
}
