.numbers {
    padding: 0px;
    width: 45px;
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;   /* options are normal, bold, bolder, lighter */
    font-style: normal;  /* options are normal or italic */
    color: #FFFFFF;      /* change color using the hexadecimal color codes for HTML */
}
.title {        /* the styles below will affect the title under the numbers, i.e., “Days”, “Hours”, etc. */
    border-style: none;
    padding: 0px 0px 3px 0px;
    width: 45px;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;   /* options are normal, bold, bolder, lighter */
    color: #FFFFFF;      /* change color using the hexadecimal color codes for HTML */
}
#table {
    width: 400px;
    height: 70px;
    border-style: ridge;
    border-width: 3px;
    border-color: #666666;      /* change color using the hexadecimal color codes for HTML */
    background-color: #222222;  /* change color using the hexadecimal color codes for HTML */
}

label > input {
  display: none;
}

label > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}
label > input:checked + img {
    border: 2px solid #f00;
}

.type-icons {
  width: 2em,
  height: 2em
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    /*color: initial;*/
}

#message {
  padding: 1.5em 2em;
  background-color: orange;
  text-transform: centre;
  font-weight: bolder; 
}

#welcome-message {

}
